<template>
  <div class="contact-form-area">
    <div class="contact-title">Send Us A Message</div>
    <form class="default-form" @submit.prevent="submitContact">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label>Name *</label>
          <input type="text" v-model="name" name="form_name" value required />
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label>Email *</label>
          <input type="email" v-model="email" name="form_email" value required />
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
          <label>Subject</label>
          <input type="text" v-model="subject" name="form_subject" value required />
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
          <label>Message</label>
          <textarea name="form_message" v-model="message" required></textarea>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
          <button type="submit" class="theme-btn" v-if="!isLoading">Submit</button>
          <button type="submit" class="theme-btn" v-else disabled>Please wait...</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      email: null,
      subject: null,
      message: null,
      isLoading: false
    };
  },
  methods: {
    submitContact() {
      this.isLoading = true;
      const form = {
        name: this.name,
        email: this.email,
        subject: this.subject,
        message: this.message
      };
      axios
        .post("/contact/form", form)
        .then(response => {
          this.isLoading = false;
          this.clearData();
          swal({
            title: "Contact",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    clearData() {
      this.name = null;
      this.email = null;
      this.subject = null;
      this.message = null;
    }
  }
};
</script>

<style>
</style>
