<template>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 column">
          <div class="copyright">
            <a href="/">BravoLife</a>
            &copy; {{ date }} All Right Reserved
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 column">
          <ul class="footer-nav">
            <li>
              <a href="#">Terms of Service</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      date: new Date().getFullYear()
    };
  }
};
</script>

<style>
</style>
