<template>
  <form @submit.prevent="setRefferal" class="donate-form default-form">
    <hr />
    <h3>Referrer's Details</h3>
    <hr />
    <div class="form-bg">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Referrer's Name*</p>
            <input
              type="text"
              required
              v-model="referrer_name"
              class="form-control"
              placeholder="referrer's name"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Organization*</p>
            <input
              type="text"
              required
              v-model="organization"
              class="form-control"
              placeholder="Organization"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Address*</p>
            <input
              type="text"
              required
              v-model="address"
              class="form-control"
              placeholder="Address"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Contact Tel no*</p>
            <input
              type="text"
              required
              v-model="contact_tel"
              class="form-control"
              placeholder="Contact Tel no"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Email Address*</p>
            <input
              type="email"
              required
              v-model="email"
              class="form-control"
              placeholder="Email Address"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h3>Applicants details</h3>
    <hr />
    <div class="form-bg">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Firstname*</p>
            <input
              type="text"
              required
              v-model="firstname"
              class="form-control"
              placeholder="Firstname"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Surname*</p>
            <input
              type="text"
              required
              v-model="surname"
              class="form-control"
              placeholder="Surname"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Date of Birth*</p>
            <date-range-picker
              v-model="dateofbirth"
              :singleDatePicker="true"
              :showWeekNumbers="true"
              :showDropdowns="true"
              required
              style="width: 100%;"
            ></date-range-picker>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Age on the time of referral*</p>
            <input
              type="number"
              required
              v-model.number="age"
              min="4"
              max="70"
              class="form-control"
              placeholder="Age on the time of referral"
            />
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12">
          <div class="form-group">
            <p>Place of Birth*</p>
            <input
              type="text"
              required
              v-model="placeofbirth"
              class="form-control"
              placeholder="Place of Birth"
            />
          </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-12">
          <div class="form-group">
            <p>LDD/Disability needs*</p>
            <textarea v-model="disability_needs" required class="form-control" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="center mt-5">
      <button class="theme-btn" type="submit" v-if="!isLoading">Register</button>
      <button class="theme-btn" type="submit" v-else disabled>Please wait...</button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      disability_needs: null,
      age: 10,
      placeofbirth: null,
      dateofbirth: {
        startDate: new Date()
      },
      surname: null,
      firstname: null,
      email: null,
      contact_tel: null,
      address: null,
      organization: null,
      referrer_name: null,
      isLoading: false
    };
  },
  methods: {
    setRefferal() {
      this.isLoading = true;
      const configuration = {
        disability_needs: this.disability_needs,
        age: this.age,
        placeofbirth: this.placeofbirth,
        dateofbirth: this.dateofbirth.startDate,
        surname: this.surname,
        firstname: this.firstname,
        email: this.email,
        contact_tel: this.contact_tel,
        address: this.address,
        organization: this.organization,
        referrer_name: this.referrer_name
      };
      axios
        .post("/referral/client", configuration)
        .then(response => {
          this.isLoading = false;
          this.clearData();
          swal({
            title: "Referral",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    clearData() {
      this.disability_needs = null;
      this.age = 10;
      this.placeofbirth = null;
      this.dateofbirth.startDate = new Date();
      this.surname = null;
      this.firstname = null;
      this.email = null;
      this.contact_tel = null;
      this.address = null;
      this.organization = null;
      this.referrer_name = null;
    }
  }
};
</script>

<style scoped>
.form-control {
  padding: 10px !important;
}
.form-bg {
  box-shadow: 0px 10px 7px 5px rgba(0, 0, 0, 0.02);
}
</style>
