<template>
  <section class="subscribe-section">
    <div class="container">
      <div class="subscribe-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 column">
            <div class="subscribe-title">Subscribe To Our Newsletter</div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 column">
            <div class="subscribe-form">
              <form
                @submit.prevent="newsletterSubscription"
                @keydown="errors.clearErr($event.target.name)"
              >
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    v-model="email"
                    placeholder="Your Email"
                    required
                  />

                  <button type="submit" class="theme-btn" v-if="!isLoading">Subscribe</button>
                  <button type="button" class="theme-btn" v-else disabled>Loading...</button>
                </div>
                <div
                  class="alert alert-danger mt-2"
                  v-if="errors.has('email')"
                >{{ errors.first('email') }}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../Errors";
export default {
  data() {
    return {
      email: null,
      errors: Errors,
      isLoading: false
    };
  },
  methods: {
    newsletterSubscription() {
      this.isLoading = true;
      const form = {
        email: this.email
      };
      axios
        .post("/subscribe/newsletter", form)
        .then(response => {
          this.isLoading = false;
          this.email = null;
          swal({
            title: "Newsletter subscription",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
        });
    }
  }
};
</script>

<style>
</style>
