<template>
  <div
    class="modal fade"
    :id="'modal-delete'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-delete"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">Delete</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">
            <i class="ni ni-fat-remove ni-3x"></i>
            <h1
              class="mt-4"
              style="text-transform:uppercase; color:#fff;font-weight:700;"
            >Are you sure?</h1>
          </div>
        </div>
        <div class="modal-footer">
          <form @submit.prevent="destroy">
            <button type="submit" v-if="!loading" class="btn btn-white">Yes, I want to delete</button>
            <button type="button" disabled v-else class="btn btn-white">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
          </form>
          <button
            type="button"
            class="btn btn-link text-white ml-auto"
            data-dismiss="modal"
            v-if="!loading"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id", "route", "getResult"],
  data() {
    return {
      loading: false
    };
  },
  methods: {
    hideModal() {
      $("#modal-delete" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: this.route + " Delete",
        text: response.data.message,
        icon: "info"
      });
    },
    destroy: function() {
      this.loading = true;
      axios
        .delete("/" + this.route + "/destroy/" + this.id)
        .then(async response => {
          await this.getResult();
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    }
  }
};
</script>

<style></style>
