<template>
  <div
    class="modal fade"
    :id="'modal-edit-image'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-edit-image"
    aria-hidden="true"
  >
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Update Image</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form @submit.prevent="updateImage">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="position-relative form-group">
                  <label for="exampleAddress" class>
                    {{ route }} Image
                    <small>(Upload {{ route }} Image)</small>
                  </label>
                  <vue2Dropzone
                    ref="CarouselImage"
                    id="CarouselImage"
                    :options="CarouselImageOptions"
                    @vdropzone-removed-file="vremoved"
                    @vdropzone-success="vCarouselImagesuccess"
                  ></vue2Dropzone>
                  <div
                    v-if="errors.has('Carousel')"
                    class="alert alert-danger"
                  >{{ errors.first("Carousel") }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" disabled v-if="loading">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <button type="submit" class="btn btn-primary" :disabled="disabled" v-else>Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      imageResponse: [],
      removedFile: false,
      loading: false,
      errors: Errors,
      disabled: true,
      CarouselImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  props: ["route", "id", "page", "returnRoute", "getResult"],
  methods: {
    hideModal() {
      $("#modal-edit-image" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: this.route + " Image update",
        text: response.data.message,
        icon: "info"
      });
    },

    updateImage: function() {
      this.loading = true;
      const form = {
        image: this.imageResponse[0].signedUrl
      };
      axios
        .patch(this.route + "/edit/image/" + this.id, form)
        .then(async response => {
          await this.getResult();
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Carousel")) {
          Errors.push({
            carousel_image: ["Carousel image is required!"]
          });
        }
      } else {
        Errors.push({
          carousel_image: ["Carousel image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    vCarouselImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Carousel",
        signedUrl: response.url
      });
      this.disabled = false;
      if (this.in_array(this.imageResponse, "Carousel")) {
        Errors.clearErr("carousel_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
