<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Edit profile</h3>
              </div>
              <profile-edit-component></profile-edit-component>
              <div class="col-4 text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-primary"
                  data-toggle="modal"
                  data-target="#modal-edit-password"
                >Change Password</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form @submit.prevent="updateUser" @keydown="errors.clearErr($event.target.name)">
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Name</label>
                      <input
                        type="text"
                        id="input-username"
                        class="form-control"
                        placeholder="Name"
                        mame="name"
                        v-model="name"
                      />
                      <div
                        v-if="errors.has('name')"
                        class="alert alert-danger"
                      >{{ errors.first("name") }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input
                        type="email"
                        id="input-email"
                        class="form-control"
                        placeholder="jesse@example.com"
                        name="email"
                        v-model="email"
                      />
                      <div
                        v-if="errors.has('email')"
                        class="alert alert-danger"
                      >{{ errors.first("email") }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <button type="button" disabled class="btn btn-primary my-4" v-if="loading">
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </button>
              <button type="submit" class="btn btn-primary my-4" v-else>Save Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      loading: false,
      name: "",
      email: "",
      errors: Errors
    };
  },
  mounted() {
    this.getAuthUser();
  },
  methods: {
    getAuthUser() {
      axios
        .get("/account/auth")
        .then(response => {
          this.name = response.data.name;
          this.email = response.data.email;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateUser() {
      this.loading = true;
      const form = {
        name: this.name,
        email: this.email
      };
      axios
        .patch("/account/update/user", form)
        .then(response => {
          this.loading = false;
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
        });
    },
    alert(response) {
      swal({
        title: "User Account Update",
        icon: "info",
        text: response.data.message
      });
    }
  }
};
</script>

<style></style>
