<template>
  <div
    class="modal fade"
    :id="'modal-send'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-send"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-primary modal-dialog-centered modal-" role="document">
      <div class="modal-content bg-gradient-info">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">Send NewsLetter</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">
            <i class="ni ni-send ni-3x"></i>
            <h1
              class="mt-4"
              style="text-transform:uppercase; color:#fff;font-weight:700;"
            >Are you sure?</h1>
          </div>
        </div>
        <div class="modal-footer">
          <form @submit.prevent="sendNewsLetter">
            <button type="submit" v-if="!loading" class="btn btn-dark">Yes, I want to Send</button>
            <button type="button" disabled v-else class="btn btn-dark">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
          </form>
          <button
            type="button"
            class="btn btn-link text-white ml-auto"
            data-dismiss="modal"
            v-if="!loading"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      loading: false
    };
  },
  methods: {
    sendNewsLetter() {
      this.loading = true;
      axios
        .post("/newsletter/send/" + this.id)
        .then(response => {
          this.loading = false;
          this.alert(response);
          this.hideModal();
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    },
    hideModal() {
      $("#modal-send" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: "Send NewsLetter",
        text: response.data.message
      });
    }
  }
};
</script>

<style></style>
