<template>
  <div
    class="modal fade"
    :id="'modal-edit'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-edit"
    aria-hidden="true"
  >
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Edit</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form @submit.prevent="editTeam" @keydown="errors.clearErr($event.target.name)">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <label for="exampleAddress" class>Team member name</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Team Giver name"
                      type="text"
                      v-model="name"
                    />
                  </div>
                  <div
                    v-if="errors.has('name')"
                    class="alert alert-danger"
                  >{{ errors.first("name") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Team member position(title)</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Team giver's Title"
                      type="text"
                      v-model="position"
                    />
                  </div>
                </div>
                <div
                  v-if="errors.has('position')"
                  class="alert alert-danger"
                >{{ errors.first("position") }}</div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Description</label>
                <wysiwyg v-model="slug" />
                <div v-if="errors.has('slug')" class="alert alert-danger">{{ errors.first("slug") }}</div>
              </div>
              <div class="col-md-4 mt-2">
                <label for="exampleAddress" class>Facebook</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Facebook"
                      type="text"
                      v-model="facebook"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-2">
                <label for="exampleAddress" class>Linked in</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Linked in"
                      type="text"
                      v-model="linkedIn"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-2">
                <label for="exampleAddress" class>Twitter</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Twitter" type="text" v-model="twitter" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" disabled v-if="loading">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <button type="submit" class="btn btn-primary" v-else>Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../../Errors.js";
export default {
  props: [
    "teamSlug",
    "teamName",
    "teamPosition",
    "teamFacebook",
    "teamTwitter",
    "teamLinkedin",
    "id",
    "pageName"
  ],
  data() {
    return {
      loading: false,
      errors: Errors
    };
  },
  methods: {
    hideModal() {
      $("#modal-edit" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: this.pageName + " update",
        text: response.data.message,
        icon: "info"
      });
    },
    editTeam() {
      this.loading = true;
      const form = {
        testimony: this.slug,
        name: this.name,
        position: this.position,
        facebook: this.facebook,
        linkedIn: this.linkedIn,
        twitter: this.twitter
      };
      axios
        .patch("/team/edit/" + this.id, form)
        .then(response => {
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
          console.log(error);
        });
    }
  },
  computed: {
    slug: {
      get: function() {
        return this.teamSlug;
      },
      set: function(value) {
        this.$emit("update:teamSlug", value);
      }
    },
    name: {
      get: function() {
        return this.teamName;
      },
      set: function(value) {
        this.$emit("update:teamName", value);
      }
    },
    position: {
      get: function() {
        return this.teamPosition;
      },
      set: function(value) {
        this.$emit("update:teamPosition", value);
      }
    },
    facebook: {
      get: function() {
        return this.teamFacebook;
      },
      set: function(value) {
        this.$emit("update:teamFacebook", value);
      }
    },
    twitter: {
      get: function() {
        return this.teamTwitter;
      },
      set: function(value) {
        this.$emit("update:teamTwitter", value);
      }
    },
    linkedIn: {
      get: function() {
        return this.teamLinkedin;
      },
      set: function(value) {
        this.$emit("update:teamLinkedin", value);
      }
    }
  }
};
</script>

<style></style>
