<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper">
      <div class="col-md-12 card" style="padding: 20px;">
        <form @submit.prevent="updateAccommodation">
          <wysiwyg v-model="accommodation_main_description" style="background: #fff;"></wysiwyg>
          <button class="btn btn-primary mt-2" v-if="!isLoading" type="submit">Update Accomodation</button>
          <button class="btn btn-primary mt-2" v-else type="button" disabled>
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </form>
      </div>
    </div>
    <div class="row card-wrapper" v-if="allAccommodationData.length > 0">
      <div
        class="col-lg-4"
        v-for="(accommodation, index) in allAccommodationData"
        :key="accommodation.id"
      >
        <accommodation-edit-component
          :id="accommodation.id"
          :pageName="'Accommodation'"
          :accommodationSlug.sync="allAccommodationData[index]['slug']"
          :accommodationTitle.sync="allAccommodationData[index]['name']"
        ></accommodation-edit-component>
        <delete-component :route="'accommdation'" :id="accommodation.id" :getResult="getResults"></delete-component>

        <div class="card">
          <img
            class="card-img-top"
            :src="accommodation.images[0].image"
            :alt="'Accommodation Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <h3 class="card-title mb-3">{{ accommodation.name }}</h3>
            <p
              class="card-text mb-4"
              v-if="accommodation.slug.length < 100"
              v-html="accommodation.slug"
            ></p>
            <p v-else v-html="accommodation.slug.substring(0, 100) + '...'"></p>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit'+accommodation.id"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a class="dropdown-item" :href="'/accommodation/admin/images/'+accommodation.id">
                  <i class="fas fa-image"></i> Edit Images
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+accommodation.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12 card" style="padding:30px;">
        <h1 class="sorry" style="color:#000;">Sorry, No Accommodations are added!</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allAccommodationData: {},
      accommodationMain: "",
      isLoading: false
    };
  },
  methods: {
    getResults() {
      axios
        .get("/all-accommodation")
        .then(response => {
          this.allAccommodationData = response.data.accommodations;
          this.accommodationMain = response.data.mainAccommodation;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    },
    updateAccommodation: function() {
      this.isLoading = true;
      const config = {
        accommodation_main_slug: this.accommodation_main_description
      };
      axios
        .patch("/accommodation/update/settings", config)
        .then(response => {
          this.isLoading = false;
          swal({
            title: "Accommodation Main Detail",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    }
  },

  mounted() {
    this.getResults();
  },
  computed: {
    accommodation_main_description: {
      get() {
        return this.accommodationMain;
      },
      set(value) {
        this.accommodationMain = value;
      }
    }
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
