<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="accommodationImage.length > 0">
      <div class="col-lg-3" v-for="(image, index) in accommodationImage" :key="image.id">
        <delete-component :route="'accommodation/image'" :id="image.id" :getResult="getResults"></delete-component>
        <image-update-component :getResult="getResults" :route="'/accommodation'" :id="image.id"></image-update-component>
        <div class="card">
          <img
            class="card-img-top"
            :src="image.image"
            :alt="'Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image'+image.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+image.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Image is Found!</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      accommodationImage: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/accommodation/admin/image/get/" + this.id)
        .then(response => {
          this.accommodationImage = response.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
