<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addAccommodation">
                <div class="row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleAddress" class>
                        Accommodation Images
                        <small>(Upload Accommodation Images)</small>
                      </label>
                      <vue2Dropzone
                        ref="AccommodationImage"
                        id="AccommodationImage"
                        :options="AccommodationImageOptions"
                        @vdropzone-removed-file="vremoved"
                        @vdropzone-success="vAccommodationImagesuccess"
                      ></vue2Dropzone>
                      <div
                        v-if="errors.has('Accommodation')"
                        class="alert alert-danger"
                      >{{ errors.first("Accommodation") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Accommodation Name</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="eg. Our Chessington Accommodation"
                          type="text"
                          v-model="title"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Accommodation Detail</label>
                    <wysiwyg v-model="slug" />
                  </div>
                  <div class="col-md-12 mt-2">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      v-if="readyToGo && !loading"
                    >Add Accommodation</button>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      disabled
                      v-else-if="readyToGo && loading"
                    >
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                    <button
                      class="btn btn-primary"
                      :disabled="disabled"
                      type="submit"
                      v-else
                    >Add Accommodation</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      removedFile: false,
      loading: false,
      errors: Errors,
      slug: "",
      title: "",
      readyToGo: false,
      disabled: true,
      imageResponse: [],
      AccommodationImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 4,
        addRemoveLinks: true,
        maxFiles: 8,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Accommodation Images (8 max)</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    addAccommodation() {
      this.loading = true;
      const form = {
        title: this.title,
        slug: this.slug,
        images: this.imageResponse
      };
      axios
        .post("/add-accommodation", form)
        .then(response => {
          this.loading = false;
          this.readyToGo = false;
          swal({
            title: "Accommodation Created!",
            text: response.data.message,
            icon: "success"
          });
          this.clearPopulatedData();
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.loading = false;
          this.validationForDoc();
        });
    },

    clearPopulatedData() {
      this.title = "";
      this.slug = "";
      this.imageResponse = [];
      this.$refs.AccommodationImage.removeAllFiles();
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Accommodation")) {
          Errors.push({
            accommodation_image: ["Accommodation image is required!"]
          });
        }
      } else {
        Errors.push({
          accommodation_image: ["Accommodation image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    // vDropzoneTotalProgress(totaluploadprogress, totalBytes, totalBytesSent) {
    //   totaluploadprogress == 100
    //     ? (this.readyToGo = true)
    //     : (this.readyToGo = false);
    // },

    vAccommodationImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Accommodation",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Accommodation")) {
        Errors.clearErr("accommodation_image");
      }
    }
  },

  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
