<template>
  <div
    class="modal fade"
    :id="'modal-edit'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-edit"
    aria-hidden="true"
  >
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Edit</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form @submit.prevent="editTestimony" @keydown="errors.clearErr($event.target.name)">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <label for="exampleAddress" class>Testimony Giver</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Testimony Giver"
                      type="text"
                      v-model="name"
                    />
                  </div>
                  <div
                    v-if="errors.has('name')"
                    class="alert alert-danger"
                  >{{ errors.first("name") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Testimony Giver's position(title)</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Testimony Giver's position(title)"
                      type="text"
                      v-model="position"
                    />
                  </div>
                  <div
                    v-if="errors.has('position')"
                    class="alert alert-danger"
                  >{{ errors.first("position") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Testimony</label>
                <wysiwyg v-model="slug" />
                <div
                  v-if="errors.has('testimony')"
                  class="alert alert-danger"
                >{{ errors.first("testimony") }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" disabled v-if="loading">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <button type="submit" class="btn btn-primary" v-else>Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../../Errors.js";
export default {
  props: [
    "testimonySlug",
    "testimonyName",
    "testimonyPosition",
    "id",
    "pageName"
  ],
  data() {
    return {
      loading: false,
      errors: Errors
    };
  },
  methods: {
    hideModal() {
      $("#modal-edit" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: this.pageName + " update",
        text: response.data.message,
        icon: "info"
      });
    },
    editTestimony() {
      this.loading = true;
      const form = {
        testimony: this.slug,
        name: this.name,
        position: this.position
      };
      axios
        .patch("/testimony/edit/" + this.id, form)
        .then(response => {
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
          console.log(error);
        });
    }
  },
  computed: {
    slug: {
      get: function() {
        return this.testimonySlug;
      },
      set: function(value) {
        this.$emit("update:testimonySlug", value);
      }
    },
    name: {
      get: function() {
        return this.testimonyName;
      },
      set: function(value) {
        this.$emit("update:testimonyName", value);
      }
    },
    position: {
      get: function() {
        return this.testimonyPosition;
      },
      set: function(value) {
        this.$emit("update:testimonyPosition", value);
      }
    }
  }
};
</script>

<style></style>
