<template>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Update About</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form
          @submit.prevent="saveData(about[0].id)"
          @keydown="errors.clearErr($event.target.name)"
        >
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">About Company</label>
                  <wysiwyg v-model="main_slug" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Our Vision</label>
                  <wysiwyg v-model="our_vision" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">The Space</label>
                  <wysiwyg v-model="our_mission" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleAddress" class>
                    About Image
                    <small>(Upload About Image)</small>
                  </label>
                  <vue2Dropzone
                    ref="AboutImage"
                    id="AboutImage"
                    :options="AboutImageOptions"
                    @vdropzone-removed-file="vremoved"
                    @vdropzone-success="vAboutImagesuccess"
                  ></vue2Dropzone>
                  <div
                    v-if="errors.has('AboutImage')"
                    class="alert alert-danger"
                  >{{ errors.first("AboutImage") }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleAddress" class>Current About Image</label>
                <div class="position-relative form-group">
                  <img :src="image" height="300px" style="object-fit:cover;" />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <button type="button" disabled class="btn btn-primary my-4" v-if="loading">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
          <button type="submit" class="btn btn-primary my-4" v-else>Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      removedFile: false,
      loading: false,
      errors: Errors,
      about: [],
      main_slug: "",
      our_vision: "",
      our_mission: "",
      image: "",
      imageResponse: [],
      AboutImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload About Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  mounted() {
    this.getAboutData();
  },
  methods: {
    saveData(id) {
      this.loading = true;
      var image;
      this.imageResponse.length > 0
        ? (image = this.imageResponse[0].signedUrl)
        : (image = this.image);
      var form = {
        mainSlug: this.main_slug,
        ourVision: this.our_vision,
        ourMission: this.our_mission,
        image: image
      };

      axios
        .patch("/admin/about/store/" + id, form)
        .then(response => {
          this.getAboutData();
          this.loading = false;
          this.clearPopulatedData();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.validationForDoc();
        });
    },
    clearPopulatedData() {
      this.imageResponse = [];
      this.$refs.AboutImage.removeAllFiles();
    },
    alert(response) {
      swal({
        title: "About Update",
        icon: "info",
        text: response.data.message
      });
    },
    setData() {
      this.main_slug = this.about[0].main_slug;
      this.our_vision = this.about[0].our_vision;
      this.our_mission = this.about[0].our_mission;
      this.image = this.about[0].image_url;
    },
    getAboutData() {
      this.about = [];
      axios
        .get("/admin/about/data")
        .then(response => {
          this.about.push(response.data);
          this.setData();
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "AboutImage")) {
          Errors.push({
            about_image: ["About image is required!"]
          });
        }
      } else {
        Errors.push({
          about_image: ["About image is required!"]
        });
      }
    },

    vremoved(File, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    vAboutImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "AboutImage",
        signedUrl: response.url
      });
      this.disabled = false;
      if (this.in_array(this.imageResponse, "AboutImage")) {
        Errors.clearErr("about_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
