<template>
  <div
    class="modal fade"
    :id="'modal-edit'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-edit"
    aria-hidden="true"
  >
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Edit</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form @submit.prevent="editEvent" @keydown="errors.clearErr($event.target.name)">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <label for="exampleAddress" class>Event title</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Event Giver name"
                      type="text"
                      v-model="title"
                    />
                  </div>
                  <div
                    v-if="errors.has('title')"
                    class="alert alert-danger"
                  >{{ errors.first("title") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Event location</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Event Location"
                      type="text"
                      v-model="location"
                    />
                  </div>
                  <div
                    v-if="errors.has('location')"
                    class="alert alert-danger"
                  >{{ errors.first("location") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>Date</label>
                <input
                  class="form-control"
                  type="date"
                  name="date"
                  v-model="date"
                  id="example-date-input"
                />
                <div v-if="errors.has('date')" class="alert alert-danger">{{ errors.first("date") }}</div>
              </div>
              <div class="col-md-12 mt-4">
                <label for="exampleAddress" class>Start Time</label>
                <input class="form-control" type="time" v-model="startTime" id="example-time-input" />
              </div>
              <div class="col-md-12 mt-4">
                <label for="exampleAddress" class>End Time</label>
                <input class="form-control" type="time" v-model="endTime" id="example-time-input" />
              </div>
              <div class="col-md-12 mt-4">
                <label for="exampleAddress" class>Description</label>
                <wysiwyg v-model="slug" />
                <div v-if="errors.has('slug')" class="alert alert-danger">{{ errors.first("slug") }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" disabled v-if="loading">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <button type="submit" class="btn btn-primary" v-else>Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../../Errors.js";
export default {
  props: [
    "eventSlug",
    "eventTitle",
    "eventDate",
    "eventStartime",
    "eventEndtime",
    "eventLocation",
    "id",
    "pageName"
  ],
  data() {
    return {
      loading: false,
      errors: Errors
    };
  },
  methods: {
    hideModal() {
      $("#modal-edit" + this.id).modal("hide");
    },
    alert(response) {
      swal({
        title: this.pageName + " update",
        text: response.data.message,
        icon: "info"
      });
    },
    editTeam() {
      this.loading = true;
      const form = {
        slug: this.slug,
        title: this.title,
        date: this.date,
        startTime: this.startTime,
        endTime: this.endTime,
        location: this.location
      };
      axios
        .patch("/event/edit/" + this.id, form)
        .then(response => {
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
          console.log(error);
        });
    }
  },
  computed: {
    slug: {
      get: function() {
        return this.eventSlug;
      },
      set: function(value) {
        this.$emit("update:eventSlug", value);
      }
    },
    title: {
      get: function() {
        return this.eventTitle;
      },
      set: function(value) {
        this.$emit("update:eventTitle", value);
      }
    },
    date: {
      get: function() {
        return this.eventDate;
      },
      set: function(value) {
        this.$emit("update:eventDate", value);
      }
    },
    startTime: {
      get: function() {
        return this.eventStartime;
      },
      set: function(value) {
        this.$emit("update:eventStartime", value);
      }
    },
    endTime: {
      get: function() {
        return this.eventEndtime;
      },
      set: function(value) {
        this.$emit("update:eventEndtime", value);
      }
    },
    location: {
      get: function() {
        return this.eventLocation;
      },
      set: function(value) {
        this.$emit("update:eventLocation", value);
      }
    }
  }
};
</script>

<style></style>
