<template>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Update Settings</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form
          @submit.prevent="saveData(setting[0].id)"
          @keydown="errors.clearErr($event.target.name)"
        >
          <h6 class="heading-small text-muted mb-4">General information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Company Name</label>
                  <input
                    type="text"
                    id="input-username"
                    class="form-control"
                    name="name"
                    placeholder="Company Name"
                    v-model="cname"
                  />
                  <div
                    v-if="errors.has('name')"
                    class="alert alert-danger"
                  >{{ errors.first("name") }}</div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email address</label>
                  <input
                    type="email"
                    id="input-email"
                    name="email"
                    class="form-control"
                    placeholder="jesse@example.com"
                    v-model="email"
                  />
                  <div
                    v-if="errors.has('email')"
                    class="alert alert-danger"
                  >{{ errors.first("email") }}</div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Contact information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-address">Address</label>
                  <input
                    id="input-address"
                    class="form-control"
                    placeholder="Address"
                    name="location"
                    v-model="location"
                    type="text"
                  />
                  <div
                    v-if="errors.has('location')"
                    class="alert alert-danger"
                  >{{ errors.first("location") }}</div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-city">Phone Number 1</label>
                  <input
                    type="text"
                    id="input-city"
                    class="form-control"
                    name="phone_number"
                    placeholder="Phone Number"
                    v-model="phone_number"
                  />
                  <div
                    v-if="errors.has('phone_number')"
                    class="alert alert-danger"
                  >{{ errors.first("phone_number") }}</div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Social account Information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Twitter</label>

                  <input
                    type="text"
                    id="input-country"
                    class="form-control"
                    placeholder="Twitter Link"
                    v-model="twitter"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Facebook</label>

                  <input
                    type="text"
                    id="input-country"
                    class="form-control"
                    placeholder="Facebook Link"
                    v-model="facebook"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Linked In</label>

                  <input
                    type="text"
                    id="input-country"
                    class="form-control"
                    placeholder="Linked In Link"
                    v-model="linked_in"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Google Plus</label>

                  <input
                    type="text"
                    id="input-country"
                    class="form-control"
                    placeholder="Google Plus Link"
                    v-model="google_plus"
                  />
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Main Image</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleAddress" class>
                    Main Image
                    <small>(Upload Main Image)</small>
                  </label>
                  <vue2Dropzone
                    ref="MainImage"
                    id="MainImage"
                    :options="MainImageOptions"
                    @vdropzone-removed-file="vremoved"
                    @vdropzone-success="vMainImagesuccess"
                  ></vue2Dropzone>
                  <div
                    v-if="errors.has('MainImage')"
                    class="alert alert-danger"
                  >{{ errors.first("MainImage") }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleAddress" class>Current Main Image</label>
                <div class="position-relative form-group">
                  <img :src="image_current" height="300px" style="object-fit:cover;" />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <button type="button" disabled class="btn btn-primary my-4" v-if="loading">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
          <button type="submit" class="btn btn-primary my-4" v-else>Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      setting: [],
      errors: Errors,
      cname: "",
      email: "",
      location: "",
      phone_number: "",
      twitter: "",
      facebook: "",
      linked_in: "",
      google_plus: "",
      image_current: "",
      loading: false,
      removedFile: false,
      imageResponse: [],
      MainImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Main Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    saveData(id) {
      this.loading = true;
      var image;
      this.imageResponse.length > 0
        ? (image = this.imageResponse[0].signedUrl)
        : (image = this.image_current);
      const form = {
        name: this.cname,
        email: this.email,
        location: this.location,
        phone_number: this.phone_number,
        twitter: this.twitter,
        facebook: this.facebook,
        linked_in: this.linked_in,
        google_plus: this.google_plus,
        imageUrl: image
      };

      axios
        .patch("/settings/" + id, form)
        .then(response => {
          this.loading = false;
          swal({
            title: "Setting Updated",
            icon: "info",
            text: response.data.message
          });
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
          this.validationForDoc();
        });
    },
    getSettings() {
      axios
        .get("/settings/get")
        .then(response => {
          this.setting.push(response.data);
          this.setData();
        })
        .catch(error => {
          console.log(error);
        });
    },

    setData: function() {
      this.cname = this.setting[0].name;
      this.email = this.setting[0].email;
      this.location = this.setting[0].location;
      this.phone_number = this.setting[0].phone_number;
      this.twitter = this.setting[0].twitter;
      this.facebook = this.setting[0].facebook;
      this.linked_in = this.setting[0].linked_in;
      this.google_plus = this.setting[0].google_plus;
      this.image_current = this.setting[0].image_url;
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "MainImage")) {
          Errors.push({
            main_image: ["Main image is required!"]
          });
        }
      } else {
        Errors.push({
          main_image: ["Main image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponseEn.length - 1; i >= 0; i--) {
        if (this.imageResponseEn[i].filename === filename) {
          this.imageResponseEn.splice(i, 1);
        }
      }
    },

    vMainImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "MainImage",
        signedUrl: response.url
      });
      this.disabled = false;
      if (this.in_array(this.imageResponseEn, "MainImage")) {
        Errors.clearErr("main_image");
      }
    }
  },
  mounted() {
    this.getSettings();
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
