<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper">
      <div class="col-md-12 card" style="padding: 20px;">
        <form @submit.prevent="updateHelp">
          <wysiwyg v-model="help"></wysiwyg>
          <button
            class="btn btn-primary mt-2"
            v-if="!isLoading"
            type="submit"
          >Update Help and Support</button>
          <button class="btn btn-primary mt-2" v-else type="button" disabled>
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      helpz: null,
      isLoading: false
    };
  },
  mounted() {
    this.getHelp();
  },
  methods: {
    getHelp() {
      axios
        .get("/help-and-support/admin/get")
        .then(response => {
          this.helpz = response.data.slug;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateHelp() {
      this.isLoading = true;
      const config = {
        slug: this.help
      };
      axios
        .patch("/help/update", config)
        .then(response => {
          this.isLoading = false;
          swal({
            title: "Help & support",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    }
  },
  computed: {
    help: {
      get() {
        return this.helpz;
      },
      set(value) {
        this.helpz = value;
      }
    }
  }
};
</script>

<style>
</style>
