<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addNewsLetter" @keydown="errors.clearErr($event.target.name)">
                <div class="row">
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Newsletter Title</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Newsletter Title"
                          type="text"
                          name="title"
                          v-model="title"
                        />
                      </div>
                      <div
                        v-if="errors.has('title')"
                        class="alert alert-danger"
                      >{{ errors.first("title") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Newsletter Message</label>
                    <wysiwyg v-model="message" name="message" aria-required="true" />
                    <div
                      v-if="errors.has('message')"
                      class="alert alert-danger"
                    >{{ errors.first("message") }}</div>
                  </div>
                  <div class="col-md-12 mt-2">
                    <button class="btn btn-primary" type="submit" v-if="!loading">Save Changes</button>
                    <button class="btn btn-primary" type="button" disabled v-else>
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="row">
            <div class="col-md-6">
              <div class="card-header border-0">
                <h3 class="mb-0">NewsLetter</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-header border-0">
                <form @keyup="searchnews">
                  <input type="text" class="form-control" v-model="search" />
                </form>
              </div>
            </div>
          </div>

          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Title</th>
                  <th scope="col" class="sort" data-sort="budget">Message</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  v-for="(newsletter, index) in newsletterData"
                  :key="newsletter.id"
                  style="padding: 0px 20px 0px 20px;"
                >
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{newsletterData[index]["title"]}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget" v-html="newsletter.message"></td>
                  <newsletter-edit-component
                    :id="newsletter.id"
                    :pageName="'NewsLetter'"
                    :newsletterMessage.sync="newsletterData[index]['message']"
                    :newsletterTitle.sync="newsletterData[index]['title']"
                  ></newsletter-edit-component>
                  <delete-component
                    :route="'newsletter'"
                    :id="newsletter.id"
                    :getResult="getUpdatedNewsletter"
                  ></delete-component>
                  <send-component :id="newsletter.id"></send-component>
                  <td class="text-right">
                    <div class="dropdown">
                      <a
                        class="btn btn-sm btn-icon-only text-light"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          :data-target="'#modal-edit'+newsletter.id"
                        >
                          <i class="fas fa-edit"></i>Edit
                        </a>
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          :data-target="'#modal-send'+newsletter.id"
                        >
                          <i class="ni ni-send"></i>Send
                        </a>
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          :data-target="'#modal-delete'+newsletter.id"
                        >
                          <i class="fas fa-trash"></i>Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-if="newsletterData.length == 0" class="mt-3">
            <p style="text-align:center;">Sorry! No data was found!</p>
          </div>
          <div class="card-footer py-4">
            <pagination :data="newsletters" @pagination-change-page="getUpdatedNewsletter"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      loading: false,
      message: "",
      title: "",
      errors: Errors,
      search: "",
      newsletters: {},
      newsletterData: {}
    };
  },
  mounted() {
    this.getUpdatedNewsletter();
  },
  methods: {
    searchnews() {
      if (this.search.length > 0) {
        axios
          .post("/newsletter/search", {
            searchquery: this.search
          })
          .then(response => {
            this.newsletters = response.data;
            console.log(this.newsletters.data.length == 0);
          })
          .catch(error => {
            console.log(error.response);
          });
      } else {
        this.getUpdatedNewsletter();
      }
    },
    getUpdatedNewsletter(page = 1) {
      axios
        .get("/newsletter/vue?page=" + page)
        .then(response => {
          this.newsletters = response.data;
          this.newsletterData = response.data.data;
          console.log(this.newsletters.data != null);
        })
        .catch(error => {
          console.log(error);
        });
    },
    addNewsLetter() {
      this.loading = true;
      const form = {
        title: this.title,
        message: this.message
      };
      axios
        .post("/newsletter/store", form)
        .then(response => {
          this.loading = false;
          this.alert(response);
          this.clearPopulatedData();
          this.getUpdatedNewsletter();
        })
        .catch(error => {
          this.loading = false;
          console.log(error);
          Errors.fill(error.response.data.errors);
        });
    },
    clearPopulatedData: function() {
      this.title = "";
      this.message = "";
    },
    alert: function(response) {
      swal({
        title: "Newsletter",
        icon: "info",
        text: response.data.message
      });
    }
  }
};
</script>

<style></style>
