<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="row">
            <div class="col-md-6">
              <div class="card-header border-0">
                <h3 class="mb-0">Users</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-header border-0">
                <form @keyup="searchnews">
                  <input type="text" class="form-control" v-model="search" />
                </form>
              </div>
            </div>
          </div>

          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Title</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr v-for="(user, index) in usersMain" :key="user.id">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ usersMain[index]["email"] }}</span>
                      </div>
                    </div>
                  </th>
                  <delete-component
                    :route="'user/newsletter'"
                    :id="user.id"
                    :getResult="getUpdatedUser"
                  ></delete-component>
                  <td class="text-right">
                    <div class="dropdown">
                      <a
                        class="btn btn-sm btn-icon-only text-light"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          :data-target="'#modal-delete'+user.id"
                        >
                          <i class="fas fa-trash"></i>Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-if="usersMain.length == 0" class="mt-3">
            <p style="text-align:center;">Sorry! No data was found!</p>
          </div>
          <div class="card-footer py-4">
            <pagination :data="users" @pagination-change-page="getUpdatedUser"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: {},
      usersMain: {},
      search: ""
    };
  },
  mounted() {
    this.getUpdatedUser();
  },
  methods: {
    searchnews() {
      if (this.search.length > 0) {
        axios
          .post("/users/newsletter/search", {
            searchquery: this.search
          })
          .then(response => {
            this.users = response.data;
            this.usersMain = response.data.data;
          })
          .catch(error => {
            console.log(error.response);
          });
      } else {
        this.getUpdatedUser();
      }
    },
    getUpdatedUser(page = 1) {
      axios
        .get("/users/newsletter/vue?page=" + page)
        .then(response => {
          this.users = response.data;
          this.usersMain = response.data.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style>
</style>
