<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addEvent" @keydown="errors.clearErr($event.target.name)">
                <div class="row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleAddress" class>
                        Event Image
                        <small>(Upload Event Image)</small>
                      </label>
                      <vue2Dropzone
                        ref="EventImage"
                        id="EventImage"
                        :options="EventImageOptions"
                        @vdropzone-removed-file="vremoved"
                        @vdropzone-success="vEventImagesuccess"
                      ></vue2Dropzone>
                      <div
                        v-if="errors.has('Event')"
                        class="alert alert-danger"
                      >{{ errors.first("Event") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Event title</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Event name"
                          type="text"
                          v-model="title"
                        />
                      </div>
                      <div
                        v-if="errors.has('title')"
                        class="alert alert-danger"
                      >{{ errors.first("title") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Event location</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Event location"
                          type="text"
                          v-model="location"
                        />
                      </div>
                      <div
                        v-if="errors.has('location')"
                        class="alert alert-danger"
                      >{{ errors.first("location") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Date</label>
                    <input
                      class="form-control"
                      type="date"
                      name="date"
                      v-model="date"
                      id="example-date-input"
                    />
                    <div
                      v-if="errors.has('date')"
                      class="alert alert-danger"
                    >{{ errors.first("date") }}</div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="exampleAddress" class>Start Time</label>
                    <input
                      class="form-control"
                      type="time"
                      v-model="startTime"
                      id="example-time-input"
                    />
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="exampleAddress" class>End Time</label>
                    <input
                      class="form-control"
                      type="time"
                      v-model="endTime"
                      id="example-time-input"
                    />
                  </div>
                  <div class="col-md-12 mt-4">
                    <label for="exampleAddress" class>Description</label>
                    <wysiwyg v-model="slug" />
                    <div
                      v-if="errors.has('slug')"
                      class="alert alert-danger"
                    >{{ errors.first("slug") }}</div>
                  </div>
                  <div class="col-md-12 mt-2">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      v-if="readyToGo && !loading"
                    >Add Team</button>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      disabled
                      v-else-if="readyToGo && loading"
                    >
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                    <button
                      class="btn btn-primary"
                      :disabled="disabled"
                      type="submit"
                      v-else
                    >Add Team</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      removedFile: false,
      loading: false,
      errors: Errors,
      slug: "",
      title: "",
      location: null,
      startTime: "",
      endTime: "",
      date: "",
      readyToGo: false,
      disabled: true,
      imageResponse: [],
      EventImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Event Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    addEvent() {
      this.loading = true;
      const form = {
        title: this.title,
        slug: this.slug,
        image: this.imageResponse[0].signedUrl,
        date: this.date,
        startTime: this.startTime,
        endTime: this.endTime,
        location: this.location
      };
      axios
        .post("/add-event", form)
        .then(response => {
          this.loading = false;
          swal({
            title: "Event Created!",
            text: response.data.message,
            icon: "info"
          });
          this.clearPopulatedData();
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.loading = false;
          this.validationForDoc();
        });
    },

    clearPopulatedData() {
      this.title = "";
      this.slug = "";
      this.date = "";
      this.startTime = "";
      this.endTime = "";
      this.imageResponse = [];
      this.$refs.EventImage.removeAllFiles();
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Event")) {
          Errors.push({
            event_image: ["Event image is required!"]
          });
        }
      } else {
        Errors.push({
          event_image: ["Event image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    vEventImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Event",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Event")) {
        Errors.clearErr("event_image");
      }
    }
  },

  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
