<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="allEventData.data.length > 0">
      <div class="col-lg-4" v-for="(event, index) in allEventData.data" :key="event.id">
        <event-edit-component
          :id="event.id"
          :pageName="'Event'"
          :eventSlug.sync="allEventData.data[index]['slug']"
          :eventTitle.sync="allEventData.data[index]['title']"
          :eventDate.sync="allEventData.data[index]['date']"
          :eventStartime.sync="allEventData.data[index]['start_time']"
          :eventEndtime.sync="allEventData.data[index]['end_time']"
          :eventLocation.sync="allEventData.data[index]['location']"
        ></event-edit-component>

        <delete-component :route="'event'" :id="event.id" :getResult="getResults"></delete-component>
        <image-update-component :getResult="getResults" :route="'/event'" :id="event.id"></image-update-component>

        <div class="card">
          <img
            class="card-img-top"
            :src="event.image_url"
            :alt="'event Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <h3 class="card-title mb-3">{{ event.name }}</h3>
            <h3
              class="card-title mb-3"
            >{{ event.date }} | {{ event.start_time }} - {{ event.end_time }}</h3>
            <p class="card-text mb-4" v-if="event.slug.length < 200" v-html="event.slug"></p>
            <p v-else v-html="event.slug.substring(0, 200) + '...'"></p>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit'+event.id"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image'+event.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+event.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Data is Found!</h1>
      </div>
    </div>
    <pagination :data="allEventData" @pagination-change-page="getResults"></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allEventData: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-event?page=" + page)
        .then(response => {
          this.allEventData = response.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
