<template>
  <section class="about-style-two sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 about-column">
          <div class="about-content">
            <div class="top-content">
              <div class="text" v-html="accommodationMain"></div>
            </div>
          </div>
        </div>
        <div
          class="col-lg-12 col-md-12 col-sm-12 about-column"
          v-for="(accommodation, index) in allAccommodationData"
          :key="index"
        >
          <div class="about-content">
            <div class="top-content">
              <h1 style="font-weight: 700;">{{ accommodation.name }}</h1>
              <div class="text" v-html="accommodation.slug"></div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 img-column">
                  <viewer :images="accommodation.images">
                    <div class="row">
                      <img
                        v-for="(image, index) in accommodation.images"
                        :key="image.id"
                        class="card-img-top col-md-3"
                        :src="image.image"
                        :alt="'Gallery Image ' + index"
                        height="200px"
                        style="object-fit: cover; margin-top:10px; box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.03);"
                      />
                    </div>
                  </viewer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      allAccommodationData: {},
      accommodationMain: null
    };
  },
  mounted() {
    this.getResults();
  },
  methods: {
    getResults() {
      axios
        .get("/all-accommodation")
        .then(response => {
          this.allAccommodationData = response.data.accommodations;
          this.accommodationMain = response.data.mainAccommodation;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  }
};
</script>

<style>
</style>
