<template>
  <div>
    <section class="about-style-two sec-pad" v-if="path == 'gallery'">
      <div class="container">
        <div class="row" v-if="gallery.length > 0">
          <div class="col-lg-12">
            <viewer :images="gallery">
              <div class="row">
                <img
                  v-for="(image, index) in gallery"
                  :key="index"
                  class="col-lg-4 card-img-mine"
                  :src="image.image"
                  :alt="'Gallery Image ' + index"
                  height="500px"
                  style="object-fit: cover;"
                />
              </div>
            </viewer>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-12">
            <h1 class="sorry">Sorry, No Image is Found!</h1>
          </div>
        </div>
        <pagination
          style="margin-top: 10px;"
          :data="allGalleryData"
          @pagination-change-page="getResults"
        ></pagination>
      </div>
    </section>
    <section
      style="background: #fafafa;"
      class="about-style-two sec-pad"
      v-else-if="path == 'home'"
    >
      <div class="container">
        <div class="row" v-if="allGalleryData.length > 0">
          <div class="col-lg-12">
            <h1>Gallery</h1>
            <hr />
            <viewer :images="allGalleryData">
              <div class="row">
                <img
                  v-for="(image, index) in allGalleryData"
                  :key="index"
                  class="col-lg-3 card-img-mine"
                  :src="image.image"
                  :alt="'Gallery Image ' + index"
                  height="300px"
                  style="object-fit: cover;"
                />
              </div>
            </viewer>
            <div class="mt-4">
              <a
                href="/gallery"
                style="margin-top: 20px; color: #3F51B5; border: 1px solid #3F51B5; padding: 10px 20px;"
              >View More</a>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-12">
            <h1 class="sorry">Sorry, No Image is Found!</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: ["path"],
  data() {
    return {
      allGalleryData: {},
      gallery: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-gallery?page=" + page)
        .then(response => {
          this.allGalleryData = response.data;
          this.gallery = response.data.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    },
    getResultForHome() {
      axios
        .get("/home-gallery")
        .then(response => {
          this.allGalleryData = response.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.path == "gallery" ? this.getResults() : this.getResultForHome();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
.card-img-mine {
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.04);
  padding: 10px;
  border-radius: 10px;
  border: none;
}
</style>
