<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="allPartnerData.data.length > 0">
      <div class="col-lg-4" v-for="(partner, index) in allPartnerData.data" :key="partner.id">
        <delete-component :route="'partner'" :id="partner.id" :getResult="getResults"></delete-component>
        <image-update-component :getResult="getResults" :route="'/partner'" :id="partner.id"></image-update-component>
        <div class="card">
          <img
            class="card-img-top"
            :src="partner.image_url"
            :alt="'Partner Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image'+partner.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+partner.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Data is Found!</h1>
      </div>
    </div>
    <pagination :data="allPartnerData" @pagination-change-page="getResults"></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allPartnerData: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-partner?page=" + page)
        .then(response => {
          this.allPartnerData = response.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
