<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addService">
                <div class="row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleAddress" class>
                        Service Image
                        <small>(Upload ServiceImage)</small>
                      </label>
                      <vue2Dropzone
                        ref="ServiceImage"
                        id="ServiceImage"
                        :options="ServiceImageOptions"
                        @vdropzone-removed-file="vremoved"
                        @vdropzone-success="vServiceImagesuccess"
                      ></vue2Dropzone>
                      <div
                        v-if="errors.has('ServiceImage')"
                        class="alert alert-danger"
                      >{{ errors.first("ServiceImage") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Service Title</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Service Title"
                          type="text"
                          v-model="title"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Service Slug</label>
                    <wysiwyg v-model="slug" />
                  </div>
                  <div class="col-md-12 mt-2">
                    <button
                      class="btn btn-primary"
                      :disabled="disabled"
                      type="submit"
                      v-if="!loading"
                    >Add Service</button>
                    <button class="btn btn-primary" type="submit" disabled v-else>
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      loading: false,
      errors: Errors,
      imageResponse: [],
      disabled: true,
      language: "am",
      title: "",
      slug: "",
      removedFile: false,
      ServiceImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Service Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    addService: function() {
      this.loading = true;
      const form = {
        title: this.title,
        slug: this.slug,
        image: this.imageResponse[0].signedUrl
      };
      axios
        .post("/services/store", form)
        .then(response => {
          this.loading = false;
          this.alert(response);
          this.clearPopulatedData();
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
          this.validationForDoc();
        });
    },
    alert(response) {
      swal({
        title: "Service",
        text: response.data.message
      });
    },
    clearPopulatedData() {
      this.title = "";
      this.slug = "";
      this.language = "am";
      this.imageResponse = [];
      this.$refs.ServiceImage.removeAllFiles();
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "ServiceImage")) {
          Errors.push({
            service_image: ["Service image is required!"]
          });
        }
      } else {
        Errors.push({
          service_image: ["Service image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    vServiceImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "ServiceImage",
        signedUrl: response.url
      });
      this.disabled = false;
      if (this.in_array(this.imageResponse, "ServiceImage")) {
        Errors.clearErr("service_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>
