<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper">
      <div class="col-md-12 card" style="padding: 20px;">
        <form @submit.prevent="updateService">
          <wysiwyg v-model="service"></wysiwyg>
          <button class="btn btn-primary mt-2" v-if="!isLoading" type="submit">Update Service</button>
          <button class="btn btn-primary mt-2" v-else type="button" disabled>
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      servicez: null,
      isLoading: false
    };
  },
  mounted() {
    this.getService();
  },
  methods: {
    getService() {
      axios
        .get("/admin/services/get")
        .then(response => {
          this.servicez = response.data.service;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateService() {
      this.isLoading = true;
      const config = {
        slug: this.service
      };
      axios
        .patch("/services/store", config)
        .then(response => {
          this.isLoading = false;
          swal({
            title: "Service",
            text: response.data.message,
            icon: "success"
          });
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    }
  },
  computed: {
    service: {
      get() {
        return this.servicez;
      },
      set(value) {
        this.servicez = value;
      }
    }
  }
};
</script>

<style>
</style>
