<template>
  <div>
    <div class="main-content">
      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-9 pt-lg-9"></div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
              <div class="card-body px-lg-5 py-lg-5">
                <form
                  role="form"
                  action="/login"
                  method="post"
                  @submit.prevent="login"
                  @keydown="errors.clearErr($event.target.name)"
                >
                  <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ni ni-email-83"></i>
                        </span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        type="email"
                        v-model="email"
                      />
                    </div>
                    <div
                      v-if="errors.has('email')"
                      class="alert alert-danger"
                    >{{ errors.first('email') }}</div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ni ni-lock-circle-open"></i>
                        </span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Password"
                        :type="passwordFieldType"
                        v-model="password"
                        name="password"
                      />
                      <div
                        class="input-group-prepend"
                        @click="showVisibility"
                        style="cursor: pointer;"
                      >
                        <span class="input-group-text">
                          <i class="ni ni-glasses-2"></i>
                        </span>
                      </div>
                    </div>
                    <div
                      v-if="errors.has('password')"
                      class="alert alert-danger"
                    >{{ errors.first('password') }}</div>
                  </div>
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="customCheckLogin"
                      type="checkbox"
                      v-model="rmbrMe"
                    />
                    <label class="custom-control-label" for="customCheckLogin">
                      <span class="text-muted">Remember me</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <button
                      type="submit"
                      :disabled="disabled"
                      class="btn btn-primary my-4"
                      v-if="!loading"
                    >Sign in</button>
                    <button type="button" disabled class="btn btn-primary my-4" v-if="loading">
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <a href="/forgot-password" class="text-light">
                  <small>Forgot password?</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-5" id="footer-main">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; {{ year }}
              <a href="/" class="font-weight-bold ml-1">BravoLife</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">
                  About
                  Us
                </a>
              </li>
              <li class="nav-item">
                <a href="/events" class="nav-link">Events</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Errors from "../../Errors";
export default {
  name: "LoginComponent",
  data() {
    return {
      email: "",
      password: "",
      rmbrMe: false,
      year: new Date().getFullYear(),
      loading: false,
      disabled: false,
      errors: Errors,
      passwordFieldType: "password"
    };
  },
  methods: {
    showVisibility() {
      this.passwordFieldType == "password"
        ? (this.passwordFieldType = "text")
        : (this.passwordFieldType = "password");
    },
    login() {
      const form = {
        email: this.email,
        password: this.password,
        remember: this.rmbrMe
      };
      this.loading = true;
      axios
        .post("/login", form)
        .then(response => {
          if (response.data.status == "login_failed") {
            this.loading = false;
            swal({
              title: "Login Failed",
              text: response.data.message,
              icon: "warning",
              dangerMode: true
            });
          } else if (response.data.status == "success") {
            this.loading = false;
            this.disabled = true;
            window.location.href = "/dashboard";
          }
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.loading = false;
        });
    }
  }
};
</script>

<style>
</style>
