<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addTestimony" @keydown="errors.clearErr($event.target.name)">
                <div class="row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleAddress" class>
                        Testimony Image
                        <small>(Upload Testimony Image)</small>
                      </label>
                      <vue2Dropzone
                        ref="TestimonyImage"
                        id="TestimonyImage"
                        :options="TestimonyImageOptions"
                        @vdropzone-removed-file="vremoved"
                        @vdropzone-success="vTestimonyImagesuccess"
                      ></vue2Dropzone>
                      <div
                        v-if="errors.has('Testimony')"
                        class="alert alert-danger"
                      >{{ errors.first("Testimony") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Testimony giver</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Testimony Giver name"
                          type="text"
                          v-model="name"
                        />
                      </div>
                      <div
                        v-if="errors.has('name')"
                        class="alert alert-danger"
                      >{{ errors.first("name") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Testimony giver's position(name)</label>
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-pen"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Testimony giver's Title"
                          type="text"
                          v-model="position"
                        />
                      </div>
                    </div>
                    <div
                      v-if="errors.has('position')"
                      class="alert alert-danger"
                    >{{ errors.first("position") }}</div>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleAddress" class>Testimony</label>
                    <wysiwyg v-model="slug" />
                    <div
                      v-if="errors.has('testimony')"
                      class="alert alert-danger"
                    >{{ errors.first("testimony") }}</div>
                  </div>
                  <div class="col-md-12 mt-2">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      v-if="readyToGo && !loading"
                    >Add Testimony</button>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      disabled
                      v-else-if="readyToGo && loading"
                    >
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                    <button
                      class="btn btn-primary"
                      :disabled="disabled"
                      type="submit"
                      v-else
                    >Add Testimony</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      removedFile: false,
      loading: false,
      errors: Errors,
      slug: "",
      name: "",
      position: "",
      readyToGo: false,
      disabled: true,
      imageResponse: [],
      TestimonyImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Testimony Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    addTestimony() {
      this.loading = true;
      const form = {
        name: this.name,
        position: this.position,
        testimony: this.slug,
        image: this.imageResponse[0].signedUrl
      };
      axios
        .post("/add-testimony", form)
        .then(response => {
          this.loading = false;
          swal({
            title: "Testimony Created!",
            text: response.data.message,
            icon: "info"
          });
          this.clearPopulatedData();
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.loading = false;
          this.validationForDoc();
        });
    },

    clearPopulatedData() {
      this.name = null;
      this.position = null;
      this.slug = null;
      this.imageResponse = [];
      this.$refs.TestimonyImage.removeAllFiles();
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Testimony")) {
          Errors.push({
            testimony_image: ["Testimony image is required!"]
          });
        }
      } else {
        Errors.push({
          testimony_image: ["Testimony image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    vTestimonyImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Testimony",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Testimony")) {
        Errors.clearErr("testimony_image");
      }
    }
  },

  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
