<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="data.length > 0">
      <div class="col-lg-4" v-for="(testimony, index) in data" :key="testimony.id">
        <testimony-edit-component
          :id="testimony.id"
          :pageName="'Testimony'"
          :testimonySlug.sync="data[index]['testimony']"
          :testimonyName.sync="data[index]['name']"
          :testimonyPosition.sync="data[index]['position']"
        ></testimony-edit-component>

        <delete-component :route="'testimony'" :id="testimony.id" :getResult="getResults"></delete-component>
        <image-update-component :getResult="getResults" :route="'/testimony'" :id="testimony.id"></image-update-component>

        <div class="card">
          <img
            class="card-img-top"
            :src="testimony.image_url"
            :alt="'Testimony Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <h3 class="card-title mb-3">{{ testimony.name }}</h3>
            <h3 class="card-title mb-3">Position(Title): {{ testimony.position }}</h3>
            <p
              class="card-text mb-4"
              v-if="testimony.testimony.length < 100"
              v-html="testimony.testimony"
            ></p>
            <p v-else v-html="testimony.testimony.substring(0, 100) + '...'"></p>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit'+testimony.id"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image'+testimony.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+testimony.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Data is Found!</h1>
      </div>
    </div>
    <pagination :data="allTestimonyData" @pagination-change-page="getResults"></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allTestimonyData: {},
      data: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-testimony?page=" + page)
        .then(response => {
          this.allTestimonyData = response.data;
          this.data = response.data.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
