<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="allTeamData.data.length > 0">
      <div class="col-lg-4" v-for="(team, index) in allTeamData.data" :key="team.id">
        <team-edit-component
          :id="team.id"
          :pageName="'Team'"
          :teamSlug.sync="allTeamData.data[index]['slug']"
          :teamName.sync="allTeamData.data[index]['name']"
          :teamPosition.sync="allTeamData.data[index]['position']"
          :teamFacebook.sync="allTeamData.data[index]['facebook']"
          :teamTwitter.sync="allTeamData.data[index]['facebook']"
          :teamLinkedin.sync="allTeamData.data[index]['facebook']"
        ></team-edit-component>

        <delete-component :route="'team'" :id="team.id" :getResult="getResults"></delete-component>
        <image-update-component :getResult="getResults" :route="'/team'" :id="team.id"></image-update-component>

        <div class="card">
          <img
            class="card-img-top"
            :src="team.image_url"
            :alt="'Team Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <h3 class="card-title mb-3">{{ team.name }}</h3>
            <h3 class="card-title mb-3">Position(Title): {{ team.position }}</h3>
            <p class="card-text mb-4" v-if="team.slug.length < 400" v-html="team.slug"></p>
            <p v-else v-html="team.slug.substring(0, 400) + '...'"></p>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit'+team.id"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image' + team.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+team.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Data is Found!</h1>
      </div>
    </div>
    <pagination :data="allTeamData" @pagination-change-page="getResults"></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allTeamData: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-team?page=" + page)
        .then(response => {
          this.allTeamData = response.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
