<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="row">
            <div class="col-md-6">
              <div class="card-header border-0">
                <h3 class="mb-0">Referrals</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-header border-0">
                <form @keyup="searchreferral">
                  <input type="text" class="form-control" v-model="search" />
                </form>
              </div>
            </div>
          </div>

          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Referrer name</th>
                  <th scope="col" class="sort" data-sort="organization">Referrer organization</th>
                  <th scope="col" class="sort" data-sort="address">Referrer address</th>
                  <th scope="col" class="sort" data-sort="email">Referrer email</th>
                  <th scope="col" class="sort" data-sort="contact_tel">Referrer contact tel</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr v-for="(referral, index) in referralMain" :key="referral.id">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ referralMain[index]["referrer_name"] }}</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span
                          class="name mb-0 text-sm"
                        >{{ referralMain[index]["referrer_organization"] }}</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span
                          class="name mb-0 text-sm"
                        >{{ referralMain[index]["referrer_address"] }}</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ referralMain[index]["referrer_email"] }}</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span
                          class="name mb-0 text-sm"
                        >{{ referralMain[index]["referrer_contact_tel"] }}</span>
                      </div>
                    </div>
                  </th>
                  <td class="text-right">
                    <div class="dropdown">
                      <a
                        class="btn btn-sm btn-icon-only text-light"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          data-target="#modal-view"
                        >
                          <i class="fas fa-eye"></i>View More
                        </a>
                        <a
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          :data-target="'#modal-archive'+referral.id"
                        >
                          <i class="fas fa-archive"></i>Archive
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-if="referralMain.length == 0" class="mt-3">
            <p style="text-align:center;">Sorry! No data was found!</p>
          </div>
          <div class="card-footer py-4">
            <pagination :data="referrals" @pagination-change-page="getUpdatedReferral"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      referrals: {},
      referralMain: {},
      search: ""
    };
  },
  mounted() {
    this.getUpdatedReferral();
  },
  methods: {
    searchreferral() {
      if (this.search.length > 0) {
        axios
          .post("/referral/search", {
            searchquery: this.search
          })
          .then(response => {
            this.referrals = response.data;
            this.referralMain = response.data.data;
          })
          .catch(error => {
            console.log(error.response);
          });
      } else {
        this.getUpdatedReferral();
      }
    },
    getUpdatedReferral(page = 1) {
      axios
        .get("/referral/unArchived/get/vue?page=" + page)
        .then(response => {
          this.referrals = response.data;
          this.referralMain = response.data.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style>
</style>
