<template>
  <div class="container-fluid mt--6">
    <div class="row card-wrapper" v-if="data.length > 0">
      <div class="col-lg-4" v-for="(carousel, index) in data" :key="carousel.id">
        <carousel-edit-component
          :id="carousel.id"
          :pageName="'Carousel'"
          :carouselSlug.sync="data[index]['slug']"
          :carouselTitle.sync="data[index]['title']"
        ></carousel-edit-component>

        <delete-component :route="'carousel'" :id="carousel.id" :getResult="getResults"></delete-component>

        <image-update-component :getResult="getResults" :route="'/carousel'" :id="carousel.id"></image-update-component>

        <div class="card">
          <img
            class="card-img-top"
            :src="carousel.image_url"
            :alt="'Carousel Image ' + index"
            height="500px"
            style="object-fit: cover;"
          />
          <div class="card-body">
            <h3 class="card-title mb-3">{{ carousel.title }}</h3>
            <p class="card-text mb-4" v-if="carousel.slug.length < 100" v-html="carousel.slug"></p>
            <p v-else v-html="carousel.slug.substring(0, 100) + '...'"></p>
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary mr-0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manage
                <i class="fas fa-chevron-down"></i>
              </button>
              <div
                class="dropdown-menu dropdown-menu-left"
                x-placement="bottom-end"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-147px, 28px, 0px);"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit'+carousel.id"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-edit-image'+carousel.id"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  :data-target="'#modal-delete'+carousel.id"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-wrapper" v-else>
      <div class="col-md-12">
        <h1 class="sorry">Sorry, No Data is Found!</h1>
      </div>
    </div>
    <pagination :data="allCarouselData" @pagination-change-page="getResults"></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      allCarouselData: {},
      data: {}
    };
  },
  methods: {
    getResults(page = 1) {
      axios
        .get("/all-carousel?page=" + page)
        .then(response => {
          this.allCarouselData = response.data;
          this.data = response.data.data;
        })
        .catch(error => {
          console.log(error.response);
          console.log(error);
        });
    }
  },
  mounted() {
    this.getResults();
  }
};
</script>

<style>
.sorry {
  color: #fff;
  text-align: center;
}
</style>
