<template>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="addGallery">
                <div class="row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleAddress" class>
                        Gallery Image
                        <small>(Upload Gallery Image)</small>
                      </label>
                      <vue2Dropzone
                        ref="GalleryImage"
                        id="GalleryImage"
                        :options="GalleryImageOptions"
                        @vdropzone-removed-file="vremoved"
                        @vdropzone-success="vGalleryImagesuccess"
                      ></vue2Dropzone>
                      <div
                        v-if="errors.has('Gallery')"
                        class="alert alert-danger"
                      >{{ errors.first("Gallery") }}</div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-2">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      v-if="readyToGo && !loading"
                    >Add Image</button>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      disabled
                      v-else-if="readyToGo && loading"
                    >
                      <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                    <button
                      class="btn btn-primary"
                      :disabled="disabled"
                      type="submit"
                      v-else
                    >Add Image</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      removedFile: false,
      loading: false,
      errors: Errors,
      readyToGo: false,
      disabled: true,
      imageResponse: [],
      GalleryImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 4,
        addRemoveLinks: true,
        maxFiles: 5,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Gallery Image(max:5)</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  methods: {
    addGallery() {
      this.loading = true;
      const form = {
        images: this.imageResponse
      };
      axios
        .post("/add-gallery", form)
        .then(response => {
          this.loading = false;
          this.readyToGo = false;
          swal({
            title: "Gallery Created!",
            text: response.data.message,
            icon: "success"
          });
          this.clearPopulatedData();
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.loading = false;
          this.validationForDoc();
        });
    },

    clearPopulatedData() {
      this.imageResponse = [];
      this.$refs.GalleryImage.removeAllFiles();
    },

    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },

    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Gallery")) {
          Errors.push({
            gallery_image: ["Gallery image is required!"]
          });
        }
      } else {
        Errors.push({
          gallery_image: ["Gallery image is required!"]
        });
      }
    },

    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },

    vGalleryImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Gallery",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Gallery")) {
        Errors.clearErr("gallery_image");
      }
    }
  },

  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style></style>
