<template>
  <div
    class="modal fade"
    :id="'modal-edit-password'+id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-edit-password"
    aria-hidden="true"
  >
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Edit</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form @submit.prevent="changePassword" @keydown="errors.clearErr($event.target.name)">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <label for="exampleAddress" class>Current Password</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Current Password"
                      type="password"
                      v-model="currentPassword"
                      name="currentPassword"
                    />
                  </div>
                  <div
                    v-if="errors.has('currentPassword')"
                    class="alert alert-danger"
                  >{{ errors.first("currentPassword") }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="exampleAddress" class>New Password</label>
                <div class="form-group">
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="New Password"
                      type="password"
                      v-model="newPassword"
                      name="newPassword"
                    />
                  </div>
                  <div
                    v-if="errors.has('newPassword')"
                    class="alert alert-danger"
                  >{{ errors.first("newPassword") }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" disabled v-if="loading">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <button type="submit" class="btn btn-primary" v-else>Save changes</button>
            <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../../Errors.js";
export default {
  data() {
    return {
      loading: false,
      currentPassword: "",
      newPassword: "",
      errors: Errors
    };
  },
  methods: {
    changePassword() {
      this.loading = true;
      const form = {
        newPassword: this.newPassword,
        currentPassword: this.currentPassword
      };
      axios
        .patch("/account/update/password", form)
        .then(response => {
          this.loading = false;
          this.clearPopulatedData();
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
        });
    },
    clearPopulatedData() {
      this.newPassword = "";
      this.currentPassword = "";
    },
    alert(response) {
      swal({
        title: "Password update",
        text: response.data.message,
        icon: "info"
      });
    },
    hideModal() {
      $("#modal-edit-password" + this.id).modal("hide");
    }
  }
};
</script>

<style></style>
